@{
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CANVASSEA</title>
    <link href="~/Layout/styles/layout.css" rel="stylesheet" />
    <link href="~/Content/canvassea.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Views/Shared/_header.cshtml")
    @RenderPage("~/Views/Shared/_home.cshtml")
    @RenderPage("~/Views/Shared/_footer.cshtml")
    <script src="~/Layout/scripts/jquery.backtotop.js"></script>
    <script src="~/Layout/scripts/jquery.min.js"></script>
    <script src="~/Layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
