<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/myApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="FoodCtrl">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new food item</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/action_page.php">
                            <input type="hidden" name="ID" data-ng-model="food.ID" value="{{food.ID}}" />
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Title:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Title" data-ng-model="food.Title" value="{{food.Title}}" placeholder="Enter Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Item:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Item" data-ng-model="food.Item" value="{{food.Item}}" placeholder="Enter Item">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Price:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Price" data-ng-model="food.Price" value="{{food.Prices}}" placeholder="Enter Price">
                                </div>
                            </div>
                            @*Title <input type="text" name="Title" data-ng-model="food.Title" value="{{food.Title}}"><br />
                                Item <input type="text" name="Item" data-ng-model="food.Item" value="{{food.Item}}"><br />
                                Price <input type="text" name="Price" data-ng-model="food.Price" value="{{food.Prices}}"><br />*@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear(food)">Close</button>
                        <input type="button" value="Save" name="btnSave" class="btn btn-success" data-dismiss="modal" data-ng-click="savedata(food)" />
                        <input type="button" value="Update" name="btnSave" class="btn btn-warning" data-dismiss="modal" data-ng-click="updatedata(food)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollable">
            <table border="1">
                <tr>
                    <th class="align pad">Item ID</th>
                    <th class="align pad">Title</th>
                    <th class="align pad">Item</th>
                    <th class="align pad">Price</th>
                    <th class="align pad">Update</th>
                    <th class="align pad">Delete</th>
                </tr>
                <tr data-ng-repeat="data in fooditems">
                    <td class="grid align">{{data.ID}}</td>
                    <td class="grid align">{{data.Title}}</td>
                    <td class="grid align">{{data.Item}}</td>
                    <td class="grid align">{{data.Price}}</td>
                    <td class="grid align"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" data-ng-click="selectfood(data.ID)">Update</button></td>
                    <td class="grid align"><button type="button" class="btn btn-danger" data-ng-click="deletefood(data.ID)">Delete</button></td>
                </tr>
            </table>
        </div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New Fooditem</button>
    </div>
</body>
</html>
