<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    @RenderPage("~/Views/Shared/_imageSlider.cshtml")
    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Our Services</h6>
                <p>Creating a timeless look, Coupled with a flawless moment</p>
            </div>
            <ul class="nospace group elements">
                <li class="one_third first">
                    <article>
                        <a href="#"><i class="fa fa-plane"></i></a>
                        <h6 class="heading">Wedding Albums</h6>
                        <p>Sed venenatis tempor massa nec consequat suspendisse congue sit amet elit ac fringilla [&hellip;]</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-wheelchair-alt"></i></a>
                        <h6 class="heading">Video Wedding Invitations</h6>
                        <p>Curabitur sit amet elementum libero quis tincidunt erat mauris imperdiet sodales enim [&hellip;]</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-expeditedssl"></i></a>
                        <h6 class="heading">Proposal Photography</h6>
                        <p>Eget auctor nisl aliquam at quisque posuere non mauris vitae aliquet aenean ex dolor [&hellip;]</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third first">
                    <article>
                        <a href="#"><i class="fa fa-envira"></i></a>
                        <h6 class="heading">Couple Shoots</h6>
                        <p>Vehicula non accumsan ac consequat eu justo imperdiet lacus maecenas nibh sed erat [&hellip;]</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-paw"></i></a>
                        <h6 class="heading">Destination Weddings</h6>
                        <p>Sapien venenatis quis posuere ut condimentum ut lectus morbi tempor est ut justo finibus [&hellip;]</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-vine"></i></a>
                        <h6 class="heading">Cinematic Wedding Films</h6>
                        <p>Egestas integer gravida nisl sed augue euismod iaculis nam et urna id purus egestas [&hellip;]</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
            </ul>
        </section>
    </div>
    <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/parlor2.png');">
        <div class="hoc container testimonials clear">
            <article>
                <blockquote>The Infinity of Beauty & Indulgence. Everything has beauty, but not everyone sees it. We blossom your beauty. Come and you will be Inspired.</blockquote>
                <h6 class="heading">CANVASSEA</h6>
                <em>The salon that leaves a smile on your face</em>
            </article>
        </div>
    </div>
    <div class="wrapper bgded overlay light" style="background-image:url('images/demo/backgrounds/05.png');">
        <figure class="hoc clear">
            <ul class="nospace group logos">
                <li class="one_quarter first"><a href="#"><img src="~/images/demo/film2.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src="~/images/demo/film3.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src="~/images/demo/film1.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src="~/images/demo/film4.png" alt=""></a></li>
            </ul>
        </figure>
    </div>
</body>
</html>
